@charset "UTF-8";
/*
0 - 600px : Phone
600 - 900px : Tablet portrait;
900 - 1200px : Tablet landscape;
[1200px - 1800px] : Normal range outside of media queries;
1800px + : Big desktop
 



*/
/*
 breakpoint argument choices:
 phone-small
 tab-port
 tab-land
 big desktop;
 */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 64em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 48em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

.bg-wrapper {
  background-color: white;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  padding: 3rem; }

.body-container {
  display: flex;
  flex-direction: column;
  margin: 2rem 25vw 0 25vw; }
  @media (max-width: 64em) {
    .body-container {
      margin: 2rem 20vw 0 20vw; } }
  @media (max-width: 48em) {
    .body-container {
      margin: 2rem 15vw 0 15vw; } }
  @media (max-width: 37.5em) {
    .body-container {
      margin: 2rem 6vw 0 6vw; } }

.grid-container {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto; }

.race-map {
  width: 100%;
  height: 100%;
  transition: transform .25s ease;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 37.5em) {
    .race-map .image-rotate {
      transform: rotate(-90deg); } }

.img-click {
  transform: scale(1.5); }

.alt-pic {
  width: 100%; }

.margin-bot-small {
  margin-bottom: 1rem; }

.u-indent {
  text-indent: 1rem; }

.u-center {
  text-align: center; }

.u-left {
  text-align: left; }

.pop-up {
  transition: transform .25s ease;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  .pop-up:hover {
    transform: scale(1.8); }

.trans-l {
  transform: translateX(-2rem); }
  @media (max-width: 37.5em) {
    .trans-l {
      transform: none; } }

.trans-r {
  transform: translateX(2rem); }
  @media (max-width: 37.5em) {
    .trans-r {
      transform: none; } }

.img-cont {
  max-width: 100%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  margin-bottom: 10rem; }

.marg-bot p {
  margin-bottom: 3rem; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px; */
  line-height: 1.7;
  color: #777; }

.card-grid {
  font-size: 5rem;
  color: #fff; }

.heading-primary {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  font-size: 5rem; }
  @media (max-width: 64em) {
    .heading-primary {
      font-size: 4rem; } }
  @media (max-width: 48em) {
    .heading-primary {
      font-size: 3rem; } }
  @media (max-width: 20em) {
    .heading-primary {
      margin: 0; } }

.heading-secondary {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 3rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.8); }
  @media (max-width: 48em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  @media (max-width: 20em) {
    .heading-secondary {
      margin-bottom: 1.5rem; } }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.8); }
  @media (max-width: 48em) {
    .heading-tertiary {
      font-size: 1.8rem;
      background: linear-gradient(225deg, #020024 0%, #54c8d6 0%, #4958db 100%) transparent;
      box-shadow: -10px 15px 20px 0 rgba(0, 0, 0, 0.3);
      color: rgba(255, 255, 255, 0.8);
      padding: 1.5rem; } }

.text-normal {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  line-height: 1.6; }
  .text-normal__bold {
    color: #333; }

.text-small {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  line-height: 1.6; }

li {
  padding-left: 1rem;
  margin-left: 1.5rem; }

ul {
  margin-top: 1rem;
  margin-bottom: 5rem; }

.marker-up li::marker {
  color: rgba(255, 0, 0, 0.8);
  content: "◓"; }

.marker-down li::marker {
  color: rgba(255, 0, 0, 0.8);
  content: "◒"; }

.text-para {
  line-height: 1.6;
  text-indent: 1rem; }

.list-wrap {
  margin-left: 3rem; }

.links {
  color: #fefae0;
  text-decoration: none; }
  .links:hover {
    transform: scale(1.3); }

h3 a {
  text-decoration: none;
  color: rgba(135, 206, 235, 0.8); }

.post {
  margin-bottom: 10rem;
  padding-bottom: 2rem;
  display: inline-block;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  font-size: 1.6rem;
  width: 100%; }
  .post__date {
    color: #0096c7;
    margin-bottom: 2rem;
    font-style: italic; }

.post-container {
  margin-top: 8rem;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
  gap: 3rem; }

.post-content {
  display: flex;
  flex-direction: column;
  gap: 5rem; }
  .post-content__vis {
    display: flex;
    min-width: 0;
    min-height: 0; }
    @media (max-width: 37.5em) {
      .post-content__vis {
        flex-direction: column; }
        .post-content__vis .order {
          order: 2; } }
    .post-content__vis--1 img {
      width: 25vw;
      height: auto; }
    @media (max-width: 37.5em) {
      .post-content__vis--1 img {
        width: 100%; } }
    .post-content__vis--2 {
      box-shadow: -10px 15px 20px 0 rgba(0, 0, 0, 0.3);
      width: 80%;
      margin-top: 2rem;
      display: inline-block;
      align-self: center;
      background: linear-gradient(225deg, #020024 0%, #54c8d6 0%, #4958db 100%) transparent; }
      @media (max-width: 37.5em) {
        .post-content__vis--2 {
          width: 100%;
          margin-top: 0; } }
      .post-content__vis--2 p, .post-content__vis--2 span {
        font-size: 1.6rem;
        padding: 3rem;
        color: rgba(255, 255, 255, 0.8); }

.menu {
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.4);
  background-color: #a5a58d;
  font-size: 1.6rem;
  margin-right: 5rem;
  margin-bottom: 5rem; }
  .menu__main {
    padding: 1rem 0 2rem 1rem;
    background-color: #b7b7a4;
    color: #fefae0;
    font-weight: bold; }
  .menu__sub {
    padding: 1rem 0 1rem;
    color: #fefae0;
    margin-right: 1rem;
    margin-left: 1rem; }
    .menu__sub:not(:last-child) {
      border-bottom: 1px solid rgba(221, 190, 169, 0.4); }

.card {
  perspective: 100vw;
  -moz-perspective: 150rem;
  position: relative;
  height: 27rem;
  width: 10%;
  margin-top: 10rem; }
  @media (max-width: 37.5em) {
    .card {
      width: 20%; } }
  @media (max-width: 26.56em) {
    .card {
      width: 30%; } }
  @media (max-width: 20em) {
    .card {
      width: 40%; } }
  .card__side {
    height: 27rem;
    transition: all .8s ease;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .card__side--front {
      background-color: transparent;
      color: white; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to top, rgba(207, 217, 223, 0.2) 0%, rgba(226, 235, 240, 0.2) 100%); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    background-blend-mode: screen;
    height: 12rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to top, rgba(207, 217, 223, 0.6) 0%, rgba(226, 235, 240, 0.8) 100%); }
  .card__heading {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 2rem;
    right: .2rem; }
  .card__heading-span {
    padding: 0.2rem .5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to top, rgba(207, 217, 223, 0.6) 0%, rgba(226, 235, 240, 0.8) 100%); }
  .card__details {
    background-color: rgba(0, 0, 0, 0.1);
    padding-right: 2rem;
    padding-left: 2rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
    .card__details li {
      text-align: center;
      font-size: 2rem;
      padding: 1rem; }
      .card__details li:not(:last-child) {
        border-bottom: 1px solid #eee; }
  .card__price-box {
    color: #fff;
    text-align: center;
    text-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .card__price-only {
    font-size: 2.5rem;
    padding: 2rem 1rem 1rem;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .card__price-value {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 2rem; }
  .card__karya {
    grid-column: 2 / 3;
    grid-row: 2 / 3; }
  .card__titnata {
    grid-column: 4 / 5;
    grid-row: 2 / 3; }

.dropbtn {
  color: white;
  padding: 1.1rem;
  font-size: 2rem;
  border: none;
  text-decoration: none; }
  @media (max-width: 26.56em) {
    .dropbtn {
      font-size: 1.6rem; } }
  @media (max-width: 21.25em) {
    .dropbtn {
      /*340px*/
      font-size: 1.3rem; } }
  .dropbtn:hover, .dropbtn :active {
    background-color: rgba(255, 255, 255, 0.2); }
  .dropbtn__content {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    z-index: 100;
    position: absolute;
    display: none;
    white-space: nowrap;
    background-color: transparent; }
    .dropbtn__content a {
      margin-top: 1rem;
      padding: 1.2rem 1.6rem;
      text-decoration: none;
      display: block;
      border-bottom: 5px solid transparent;
      color: rgba(0, 0, 0, 0.8);
      font-size: 1.6rem; }
      .dropbtn__content a:hover, .dropbtn__content a :active {
        background-color: #ddd;
        text-decoration: underline; }

.header__menu:hover .dropbtn__content, .header__menu :active .dropbtn__content {
  display: block;
  background-color: #ddd;
  min-width: 100%; }

.feature-grid {
  display: flex;
  gap: 5rem;
  justify-content: space-evenly;
  margin-top: 5rem;
  margin-bottom: 5rem; }
  @media (max-width: 37.5em) {
    .feature-grid {
      gap: 2rem; } }
  .feature-grid .feature-box {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.8rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .feature-grid .feature-box__text {
      font-size: 1.8rem;
      color: #333;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 1rem; }
    .feature-grid .feature-box:hover {
      transform: translateY(-1.5rem) scale(1.03); }
    .feature-grid .feature-box ion-icon {
      font-size: 7rem;
      color: lightblue;
      margin-bottom: 1.5rem; }
      @media (max-width: 26.56em) {
        .feature-grid .feature-box ion-icon {
          font-size: 5rem; } }
      @media (max-width: 20em) {
        .feature-grid .feature-box ion-icon {
          font-size: 3rem; } }

.btn {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.6) scaleY(1.4);
      opacity: 0; }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn--blue {
    background-color: lightblue;
    color: #fff; }
    .btn--blue::after {
      background-color: lightblue; }
  .btn--trans {
    background-color: #eee;
    color: #fff; }
    .btn--trans::after {
      background-color: #eee; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }
  .btn--round {
    border-radius: 10rem; }
    .btn--round::after {
      border-radius: 10rem; }
  .btn--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards; }

.btn-wrapper {
  display: block;
  text-align: center;
  margin-bottom: 5rem; }

table {
  margin-top: 3rem;
  margin-bottom: 3rem; }

td {
  border: 1px solid #333;
  text-align: center;
  padding: .2rem; }

thead,
tfoot {
  background-color: #333;
  color: #fff; }

.results-table {
  display: flex;
  justify-content: center;
  overflow-x: auto; }
  .results-table table {
    border-collapse: separate;
    border-spacing: 0;
    border-right: 1px solid #333 !important;
    font-size: 1.6rem; }
  .results-table td, .results-table th {
    border: 1px solid #333 !important;
    border-left: 1px solid #333 !important;
    border-right: 1px solid #fff !important;
    padding: .8rem; }
  .results-table #first {
    background-color: orange;
    color: #fff; }

form {
  font-family: "Lato" sans-serif;
  font-size: 1.6rem;
  /* Center the form on the page */
  margin: 0 auto;
  width: 35vw;
  /* Form outline */
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border: 1px solid #CCC;
  border-radius: 1rem; }
  @media (max-width: 48em) {
    form {
      width: 40vw; } }
  @media (max-width: 37.5em) {
    form {
      width: 50vw; } }
  @media (max-width: 26.56em) {
    form {
      width: 60vw; } }
  @media (max-width: 20em) {
    form {
      width: 70vw; } }
  form ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  form li + li {
    margin-top: 2rem; }

#terms {
  width: 5%; }

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 15vw;
  text-align: right;
  font-size: 1.6rem;
  padding-right: 1rem; }
  @media (max-width: 37.5em) {
    label {
      width: 15vw; } }
  @media (max-width: 26.56em) {
    label {
      width: 20vw; } }
  @media (max-width: 20em) {
    label {
      width: 25vw; } }

input,
select {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font-size: 1.6rem;
  /* Uniform txt field size */
  width: 10vw;
  box-sizing: border-box;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  /* Match form field borders */
  border: 1px solid #999; }
  input:focus,
  select:focus {
    outline: none !important;
    border: 1px solid rgba(255, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.3); }
  @media (max-width: 48em) {
    input,
    select {
      width: 15vw; } }
  @media (max-width: 37.5em) {
    input,
    select {
      width: 20vw; } }
  @media (max-width: 26.56em) {
    input,
    select {
      width: 25vw; } }
  @media (max-width: 20em) {
    input,
    select {
      width: 30vw; } }

select {
  background-color: white; }

.note {
  font-size: 1.2rem;
  color: rgba(255, 0, 0, 0.8);
  padding-left: 1rem; }

.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #000;
  height: 8vh;
  position: sticky;
  top: 0;
  z-index: 1000; }
  .header__menu {
    color: #fff;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    position: relative; }
    .header__menu ion-icon {
      font-size: 1rem;
      color: white; }

@media (max-width: 20em) {
  .header {
    background-color: #000;
    height: 8vh;
    position: sticky;
    top: 0;
    z-index: 1000; } }

.footer {
  background-color: #000000;
  background-image: linear-gradient(to top, #000000 0%, #282829 100%); }
  .footer p {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 4rem;
    padding-top: 2rem; }

.hero {
  background-image: url(../img/karya3.jpg);
  background-size: cover;
  background-position: center;
  height: 92vh;
  display: flex;
  justify-content: space-evenly; }
  @media (max-width: 20em) {
    .hero {
      height: 70vh; } }

.wrapper {
  position: relative;
  padding-bottom: 86.9565%;
  padding-top: 25px;
  height: 0;
  margin-bottom: 2rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  .wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.course-grid {
  display: flex;
  padding-left: 5rem; }
  @media (max-width: 26.56em) {
    .course-grid {
      padding-left: 0;
      justify-content: center; } }

.race-info {
  position: relative;
  padding: 4rem;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  .race-info__sub {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .race-info::after {
    content: "";
    background: url("../img/karya2.jpg");
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }

.guidelines {
  padding: 3rem; }
  .guidelines__main li::marker {
    color: rgba(255, 0, 0, 0.5); }
  .guidelines__sub p {
    margin-bottom: 1rem; }
  .guidelines__sub div {
    text-indent: 1rem; }
  .guidelines__sub li {
    margin-bottom: 3rem; }

.guide-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-content: center; }
  .guide-grid__right {
    justify-self: center; }
  .guide-grid__left {
    justify-self: center; }

.banner {
  box-shadow: -10px 15px 20px 0 rgba(0, 0, 0, 0.3);
  background: linear-gradient(225deg, #020024 0%, #54c8d6 0%, #4958db 100%) transparent;
  margin-bottom: 5rem; }
  .banner p {
    font-size: 2rem;
    padding: 3rem;
    color: rgba(255, 255, 255, 0.8); }
