.feature-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5rem;

  .feature-box{
    margin-top: 5rem;
    background-color: rgba($color-white, .8);
    font-size: 1.8rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    margin-bottom: 5rem;


    &__text {
  
     font-size: 1.8rem; 
     color: $color-grey-dark-3;
     font-weight: 700;
     text-transform: uppercase;
     margin-bottom: 1rem;
    }

    &:hover {
      transform: translateY(-1.5rem) scale(1.03);    
    }

  } 
}

ion-icon {
  font-size: 7rem;
  color: lightblue;
  margin-bottom: 1.5rem;
}
