form {
  font-family:"Lato" sans-serif;
  font-size: 1.6rem;
  /* Center the form on the page */
  margin: 0 auto;
  width: 35vw;
  /* Form outline */
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border: 1px solid #CCC;
  border-radius: 1rem;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li + li {
    margin-top: 2rem;
  }


}


label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 15vw;
  text-align: right;
  font-size: 1.6rem;
  padding-right: 1rem;
}

input,
select {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font-size: 1.6rem;

  /* Uniform txt field size */
  width: 10vw;
  box-sizing: border-box;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;

  /* Match form field borders */
  border: 1px solid #999;

  &:focus {
    outline: none !important;
    border: 1px solid rgba(red, .5);
    box-shadow: 0 0 10px rgba(red, .3);
  }
}

select {
  background-color: white;


}

.button {
  /* Align buttons with the text fields */
  padding-left: 20rem; /* same size as the label elements */
}
