.post {

//   grid-column-start: 2 ;

   margin-bottom: $gutter-medium;
   padding-bottom: $gutter-medium; 
   display: inline-block;
   border-bottom: .1rem solid rgba($color-black, 0.2);
   font-size: $default-font-size;

    


   
   &__date {
      color: rgba(#0096c7, 1);
      margin-bottom: $gutter-medium; 
      font-style: italic;
   }

}



