.post {

//   grid-column-start: 2 ;

   margin-bottom: 10rem; 
   padding-bottom: $gutter-medium; 
   display: inline-block;
   border-bottom: .1rem solid rgba($color-black, 0.2);
   font-size: $default-font-size;
   width:100%;

    


   
   &__date {
      color: rgba(#0096c7, 1);
      margin-bottom: $gutter-medium; 
      font-style: italic;
   }

}


.post-container {
   margin-top: 8rem;
   margin-bottom: 8rem;
   display: flex;
   flex-direction: column;
   gap: 3rem;
   
}


.post-content {
   display: flex;
   flex-direction: column;
   gap: 5rem;

   &__vis {
      display: flex;
      min-width: 0;
      min-height:0;

   @include respond(phone) {
      flex-direction: column;
      .order {
         order: 2;
      }
   }
      &--1 {
         img {
            width: 30vw;
            height: auto;
            
         }
      @include respond(phone){
         img{
             width: 100%;
      }
      }

      &--2 {
         box-shadow: -10px 15px 20px 0 rgba(0, 0, 0,.3);
         width: 80%;
         margin-top: 2rem;
         display: inline-block;
         align-self: center;
         background: linear-gradient(225deg, rgba(2,0,36,1) 0%, rgba(84,200,214,1) 0%, rgba(73,88,219,1) 100%)
                     transparent;

      @include respond(phone){
         width: 100%;
         margin-top: 0;
      }

         p,span {
            font-size: 1.6rem;
            padding: 3rem;
            color: rgba(255,255,255,.8);
         }
      }


   }
}


