*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //This defines what 1rem is
  font-size: 62.5%;  //so in this case 0.625 x 16 (default browser font) = 10px

  //ORDER OF MEDIA QUERIES MATTERS! LAST ONE IS THE ONE APPLIED IF THERE IS A CONFLICT.
  //
  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px;
  }
  @include respond(tab-port) {
    font-size: 50%; //i want 1rem = 8px, so 8/16 = 50% etc;
  }
  @include respond(phone) {
    font-size: 50%; //i want 1rem = 8px, so 8/16 = 50% etc;
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px;
  }

}

body {
  box-sizing: border-box;

  //@include respond(tab-port) { // width < 900px
  //  padding: 0;
  //}
  //
  //
 // background: linear-gradient(to bottom , rgba(white,.9)), url(/img/mount4.jpg);
 // background-color: rgba(255,255,255,0.6);
 // background-blend-mode: lighten; 
 // background-size: 100% auto;
 // background-repeat: repeat-y;

}

.bg-wrapper {
  background-color: white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    padding: 3rem;
}

.body-container {

  display: flex;
  flex-direction: column;
  margin: 2rem 25vw 0 25vw ;

  @include respond(tab-land) {

    margin: 2rem 20vw 0 20vw;

  }

  @include respond(tab-port) {

    margin: 2rem 15vw 0 15vw;

  }
  @include respond(phone) {

    margin: 2rem 6vw 0 6vw;
  }



  
}


.grid-container {
  padding: 2rem;
  display: grid;
  // border: 1px solid black;
  grid-template-columns: 1fr 2fr; 
  grid-template-rows: auto;

}

