.race-map{
  max-width: 100vw;
  max-height: 100vh;
  transition: transform .25s ease;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
  
 }


.img-click {
  transform: scale(1.5);
  @include respond(phone) {
    max-width: 100vh;
    max-height: 100vw;
    transform: scale(1.5)  rotate(90deg);
  }
}

.alt-pic {
  width: 100%;
}


.margin-bot-small{
  margin-bottom: 1rem;
}

.u-indent {
  text-indent: 1rem;
}

.u-center {
  text-align: center; 
}

.u-left {
  text-align: left;
}

.pop-up {
  transition: transform .25s ease;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

  &:hover {
    transform: scale(1.8);
  }
}

.trans-l {

        transform: translateX(-2rem);

        @include respond(phone) {
          transform: none;
        }
}

.trans-r {

        transform: translateX(2rem);
        @include respond(phone) {
          transform: none;
        }
}

.img-cont {
  max-width: 100%;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
  margin-bottom: 10rem;
  margin-top: 2rem;
    

}

.marg-bot {
  p {
    margin-bottom: 3rem;
  }
}
