.hero {
  background-image: url(../img/karya3.jpg);
  background-size: cover;
  //background-position-y: -10rem;
  background-position: center;
  height: 92vh;
  display: flex;
  justify-content: center;


  
}




