.hero {
  background-image: url(../img/karya3.jpg);
  background-size: cover;
  //background-position-y: -10rem;
  background-position: center;
  height: 92vh;
  display: flex;
  justify-content: space-evenly;


  @include respond(phone-small) {
    height: 70vh;

  }

  
}



//desktop: hero>j-c: center, card>margin-left:10rem;
//mobile/smaller: hero> j-c: space-evenly, card>margin-left:0




